@import '../../../global.scss';

.progress {
    background: none;
    border-radius: 0;
    display: block;
    height: 60px;

    .skill {
        color: $dark-blue5;
        display: block;
        font-family: "Poppins", sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        margin: 0 0 6px 0;
        padding: 0;
        text-transform: capitalize;

        .val {
            float: right;
            font-style: normal;
        }
    }

    .progress-bar-wrap {
        background: $light-blue1;
    
        .progress-bar {
            background-color: $link-color;
            height: 10px;
            transition: .9s;
            width: 1px;
        }
    }
}



