@import '../../global.scss';

.loading-spinner {
    height: 100%;
    display: flex;
    align-items: center;

    span {
        animation: loadingspin 1s linear infinite;
        border: 0.2em solid transparent;
        border-color: $gray2;
        border-radius: 50%;
        border-top-color: $loading-color;
        height: $spinner-size;
        margin: 10px;
        pointer-events: none;
        width: $spinner-size;
    }

    &.margin-left {
        margin-left: $header-width;
        
        @media (max-width: 1199px) {
            margin-left: 0;
        }
    }
}

.loading-gradient {
    span {
        animation-duration: 1.25s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: $loading-gradient-bg-color;
        background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
        background-size: 800px 104px;
        border-radius: 3px;
        height: $loading-gradient-height;
        margin: 20px;
        width: $loading-gradient-width;
    }

    &.margin-left {
        margin-left: calc(#{$header-width} - 0.75rem);

        @media (max-width: 1199px) {
            margin-left: 0;
        }
    }
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes placeHolderShimmer {
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

