@import '../../../global.scss';

.info {

    i {
        align-items: center;
        background-color: $profile-background-color;
        border-radius: 50px;
        box-shadow: inset 2px 2px 5px $profile-shadow-color, inset -3px -3px 7px $white;
        color: $dark-blue2;
        display: flex;
        float: left;
        font-size: 20px;
        height: 44px;
        justify-content: center;
        transition: all 0.15s ease-in-out;
        width: 44px;

        &:hover {
            box-shadow: 2px 2px 6px $profile-shadow-color, -3px -3px 6px $white;
            color: $link-color;
        }
    }

    a {
        color: inherit;

        &:hover {
            color: $link-color;
        }
    }
    
    h4 {
        color: $dark-blue5;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
        padding: 0 0 0 60px;
        text-transform: capitalize;
    }

    p {
        color: $dark-blue;
        font-size: 14px;
        padding: 0 0 10px 60px;
        margin-bottom: 18px;
    }
}

.map {
    border: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 4px $profile-shadow-color;
    height: 290px;
    width: 100%;
}
