@import '../../../global.scss';

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 21px;
    transition: all 0.4s;
    outline: none !important;
    background-color: $link-color;
    color: $white;
    width: $mobile-nav-toggle-size;
    height: $mobile-nav-toggle-size;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;

    #header {
        left: 0;
    }
}
