@import '../../../global.scss';

.mobile-nav-toggle {
    align-items: center;
    background-color: $link-color;
    border: 0;
    border-radius: 50px;
    color: $white;
    cursor: pointer;
    display: inline-flex;
    font-size: 21px;
    height: $mobile-nav-toggle-size;
    justify-content: center;
    line-height: 0;
    outline: none;
    position: fixed;
    right: 15px;
    transition: all 0.4s;
    top: 15px;
    width: $mobile-nav-toggle-size;
    z-index: 9998;
}

.mobile-nav-active {
    overflow: hidden;

    #header {
        left: 0;
    }
}
