@import '../../../global.scss';

.email-form {
    padding: 20px;
    width: 100%;
    border: 1px solid $light-blue;
    border-radius: 4px;
    background-color: $profile-background-color;
    box-shadow: 2px 6px 7px $profile-shadow-color;

    .messages {
        text-align: center;

        .error-message {
            display: none;
            color: $orange;
            text-align: left;
            padding: 15px;
            font-weight: 600;
    
            br+br {
                margin-top: 25px;
            }
        }
    
        .sent-message {
            display: none;
            color: $green;
            padding: 15px;
            font-weight: 600;
        }
    
        .loading {
            display: none;
            padding: 15px;
    
            &:before {
                content: "";
                display: inline-block;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                margin: 0 10px -6px 0;
                border: 3px solid $green;
                border-top-color: $light-blue1;
                -webkit-animation: animate-loading 1s linear infinite;
                animation: animate-loading 1s linear infinite;
            }
        }
    }
}

@-webkit-keyframes animate-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes animate-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
