@import '../../../global.scss';

.experience-item {
    border-left: 2px solid $ligth-purple;
    padding: 0 0 20px 20px;
    position: relative;

    h4 {
        color: $gray5;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    h3 {
        color: $light-blue3;
        font-size: 1.1rem;
        transition: 0.12s ease-in;

        &:hover {
            color: $link-color;
        }
    }

    h5 {
        background: $gray2;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 600;
        padding: 6px 12px;
        width: fit-content;
    }

    ul {
        padding-left: 20px;

        li {
            padding-bottom: 10px;
        }
    }

    &:last-child {
        padding-bottom: 0;
    }

    &::before {
        background: $white;
        border: 2px solid $light-blue3;
        border-radius: 50px;
        content: "";
        height: $bullet-size;
        left: -9px;
        position: absolute;
        top: 0;
        width: $bullet-size;
    }
}
