
@import '../../../global.scss';

.portfolio-item {
    margin-bottom: 30px;

    .portfolio-wrap {
        border: 1px solid $gray3;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        transition: 0.2s;
        z-index: 1;

        &::before {
            background: $dark-blue5;
            bottom: 0;
            content: "";
            left: 0;
            opacity: 0.2;
            position: absolute;
            right: 0;
            top: 0;
            transition: 0.2s ease-in-out;
            z-index: 1;
        }
    
        &:hover {
            box-shadow: $column-box-shadow;
            transform: translateY(-2px);

            &::before {
                opacity: 0;
            }
        }
    }
}

