@import '../../../global.scss';

#about {
    img {
        border: 1px solid $gray3;
        border-radius: 4px;
        padding: 3px;
    }
}

li.personal-info {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    
    strong {
        margin-right: 10px;
        text-transform: capitalize;
    }
    
    i {
        color: $link-color;
        font-size: 12px;
        line-height: 0;
        margin-right: 6px;
    }
}
