@import '../../global.scss';

#contact {
    padding-bottom: 70px;

    .info {
        padding: 20px;
        background: $profile-background-color;
        width: 100%;
        border: 1px solid $light-blue1;
        border-radius: .4rem;
        box-shadow: $column-box-shadow;
    }
}
