$white: #fff;
$black: #000;
$green: #13af5c;
$orange: #ed3c0d;
$body-font-color: #272829;
$header-background: #f3f2ef;
$link-color: #149ddd;
$link-hover-color: #37b3ed;
$navmenu-color: #3b3e51;
$navmenu-icon-color: #6f7180;
$loading-color: #6c77a0;
$profile-background-color: #e6e7ee;
$profile-border-color: rgba(243,247,250,.05);
$profile-shadow-color: #b8b9be;
$avatar-border-color: #fafbfe;
$section-bg-color: #f3f3f3;
$loading-gradient-bg-color: #cecece;
$recommendation-bg-color: #f3f4f6;
$recommendation-arrow-color: #e8e8e8;
$section-box-shadow: #c0c2d54d 0px 3px 6px, #b3b6ce59 0px 2px 4px;
$column-box-shadow: 2px 6px 7px $profile-shadow-color;

$light-blue: #d1d9e6;
$light-blue1: #cdd8f0;
$light-blue2: #b8b9be;
$light-blue3: #73b0d8;
$light-blue4: #407ad6;
$light-blue5: #2c5595;
$dark-blue: #173b6c;
$dark-blue2: #31344b;
$dark-blue3: #3c6072;
$dark-blue4: #0e2442;
$dark-blue5: #050d18;
$gray1: #f9f9f9;
$gray2: #f1f1f1;
$gray3: #d5d5d5;
$gray4: #a0a0a0;
$gray5: #4a525d;
$ligth-purple: #d7d8e1;
$purple: rgb(83, 83, 116);

$header-width: 280px;
$bullet-size: 1rem;
$back-to-top-size: 2.5rem;
$spinner-size: 2.5em;
$profile-border-size: .0625rem;
$avatar-size: 7.5rem;
$social-media-size: 2.2rem;
$mobile-nav-toggle-size: 2.5rem;
$loading-gradient-height: 24px;
$loading-gradient-width: 220px;
$progress-bar-height: 10px;
$swiper-bullet-size: 12px;
$testimonial-image-size: 90px;
$recommendation-arrow-size: 20px;
