@import '../../global.scss';

.recommendations {

    .swiper-pagination {
        margin-top: 20px;
        position: relative;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 1;
            border: 1px solid $link-color;
        }

        .swiper-pagination-bullet-active {
            background-color: $link-color;
        }
    }
    
}
